In [1]:
import pandas as pd

In [4]:
household_path = "my_stata_file.csv"

In [5]:
household_data = pd.read_csv(household_path)

In [7]:
household_data.head()

,Unnamed: 0,hhid,year,region,work10t12,work13t15,work16t18,uct,femaleh,satth,...,m19t60,f61,m61,quint,rural,treatement,pretreatment,posttreatment,treated,ptreat
0,0,1.201060e+11,2005,Sumatra,0.0,0.0,0.0,0,Male,No education completed,...,0.000000,0.166667,0.166667,Quintile 1 (poorest),Rural,1.0,1.0,0.0,1.0,0.548135
1,1,1.201060e+11,2006,Sumatra,0.0,0.0,0.0,1,Male,Primary,...,0.333333,0.000000,0.000000,Quintile 1 (poorest),Rural,1.0,0.0,1.0,1.0,0.490203
2,2,1.201060e+11,2005,Sumatra,0.0,0.0,0.0,0,Male,No education completed,...,0.166667,0.166667,0.166667,Quintile 1 (poorest),Rural,1.0,1.0,0.0,1.0,0.485999
3,3,1.201060e+11,2006,Sumatra,0.0,0.0,0.0,1,Male,No education completed,...,0.166667,0.333333,0.166667,Quintile 1 (poorest),Rural,1.0,0.0,1.0,1.0,0.507705
4,4,1.201060e+11,2005,Sumatra,0.0,0.0,1.0,0,Female,No education completed,...,0.125000,0.000000,0.000000,Quintile 1 (poorest),Rural,1.0,1.0,0.0,1.0,0.605794

In [9]:
del household_data['Unnamed: 0']

In [ ]:
#Brief exploration of the data

In [ ]:
#hhid refers to the unique, anonymised household id that was created for the study to track household across 2005 and 2006
#region refers to area within Indonesia
#work10t12, work13t15, work16t18 refers to the proportion of household (from 0 to 1) that are engaged in paid labour in the labour force
#femaleh refers to the gender of household head- female led households are considered to be at greater risk of poverty

In [ ]:
#satth refers to the highest level of education attained by household head these are:
#No education completed, primary school, junior secondary, senior secondary and higher education

#hhsize refers to the number